name: Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "CI is working!"
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
